In [1]:
import boto3, glob, json, csv, pandas as pd

In [2]:
import os
# traverse root directory, and list directories as dirs and files as files
for root, dirs, files in os.walk("./data"):
    path = root.split(os.sep)
    print((len(path) - 1) * '---', os.path.basename(root))
    for file in files:
        print(len(path) * '---', file)

 data
--- file-1.json
--- enough_already
------ file-4.json
--- other_folder
------ file-3.json
--- some_folder
------ test.csv
------ other_folder
--------- file-2.json

In [3]:
f1 = f2 = f3 = f4 = pd.DataFrame()

In [8]:
def split_coordinate(df):
    df['x-coordinate'] = df['geolocation.coordinates'].apply(lambda x: x[0])
    df['y-coordinate'] = df['geolocation.coordinates'].apply(lambda x: x[1])
    df.drop(columns=['geolocation.coordinates'], inplace=True)
    
    return df

## File-1

In [5]:
os.chdir("./data")

In [6]:
for file in glob.glob("*.json"):
        with open(file) as json_file:
            data = json.load(json_file)
            f1 = pd.json_normalize(data, max_level=2)
f1

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation.type,geolocation.coordinates
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,Point,"[6.08333, 50.775]"

In [9]:
f1 = split_coordinate(f1)
print(f1)
f1.to_csv('file-1.csv')

     name id nametype recclass mass  fall                     year     reclat  \
0  Aachen  1    Valid       L5   21  Fell  1880-01-01T00:00:00.000  50.775000

    reclong geolocation.type  x-coordinate  y-coordinate
0  6.083330            Point       6.08333        50.775

## File-4

In [10]:
os.chdir("./enough_already")

In [11]:
for file in glob.glob("*.json"):
        with open(file) as json_file:
            data = json.load(json_file)
            f4 = pd.json_normalize(data, max_level=2)
f4

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation.type,geolocation.coordinates
0,Acapulco,10,Valid,Acapulcoite,1914,Fell,1976-01-01T00:00:00.000,16.883330,-99.900000,Point,"[-99.9, 16.88333]"

In [12]:
f4 = split_coordinate(f4)
print(f4)
f4.to_csv('file-4.csv')

       name  id nametype     recclass  mass  fall                     year  \
0  Acapulco  10    Valid  Acapulcoite  1914  Fell  1976-01-01T00:00:00.000

      reclat     reclong geolocation.type  x-coordinate  y-coordinate
0  16.883330  -99.900000            Point         -99.9      16.88333

## File-3

In [13]:
path = os.getcwd()

In [14]:
os.chdir(os.path.dirname(path))

In [15]:
os.chdir("./other_folder")

In [16]:
for file in glob.glob("*.json"):
        with open(file) as json_file:
            data = json.load(json_file)
            f3 = pd.json_normalize(data, max_level=2)
f3

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation.type,geolocation.coordinates
0,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,Point,"[-113, 54.21667]"

In [17]:
f3 = split_coordinate(f3)
print(f3)
f3.to_csv('file-3.csv')

   name id nametype recclass    mass  fall                     year  \
0  Abee  6    Valid      EH4  107000  Fell  1952-01-01T00:00:00.000

      reclat      reclong geolocation.type  x-coordinate  y-coordinate
0  54.216670  -113.000000            Point          -113      54.21667

## File-2

In [18]:
path = os.getcwd()
os.chdir(os.path.dirname(path))
os.chdir("./some_folder/other_folder")

In [19]:
for file in glob.glob("*.json"):
        with open(file) as json_file:
            data = json.load(json_file)
            f2 = pd.json_normalize(data, max_level=2)
f2

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation.type,geolocation.coordinates
0,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,Point,"[10.23333, 56.18333]"

In [20]:
f2 = split_coordinate(f2)
print(f2)
f2.to_csv('file-2.csv')

     name id nametype recclass mass  fall                     year     reclat  \
0  Aarhus  2    Valid       H6  720  Fell  1951-01-01T00:00:00.000  56.183330

     reclong geolocation.type  x-coordinate  y-coordinate
0  10.233330            Point      10.23333      56.18333